# BMW Worldwide Sales EDA & Classification

#### This dataset provides detailed sales information for BMW vehicles from 2010 to 2024 across global regions. It includes attributes such as model, year, engine size, mileage, transmission type, fuel type, price, and sales volume.

### Import Libraries

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

### Load CSV file

In [3]:
df = pd.read_csv("BMW sales data (2010-2024) (1).csv")

### Explore Data|

In [4]:
df.head()

      Model  Year         Region  ... Price_USD Sales_Volume Sales_Classification
0  5 Series  2016           Asia  ...     98740         8300                 High
1        i8  2013  North America  ...     79219         3428                  Low
2  5 Series  2022  North America  ...    113265         6994                  Low
3        X3  2024    Middle East  ...     60971         4047                  Low
4  7 Series  2020  South America  ...     49898         3080                  Low

[5 rows x 11 columns]

In [8]:
df.isnull().sum()

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

### Insight

- There is no null value in dataset.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [13]:
df.shape

(50000, 11)

### Insight

- Dataset consist of 50,000 rows and 11 columns.

In [11]:
df.duplicated().sum()

np.int64(0)

### Insight

- There is no duplicated row in Dataset.

In [14]:
df["Total Price"] = df["Price_USD"]*df["Sales_Volume"]

- Feature engineering multiply Price_USD column & Sales_Volume column because the Price_USD column has price of only one car.

In [15]:
df.head()

      Model  Year  ... Sales_Classification Total Price
0  5 Series  2016  ...                 High   819542000
1        i8  2013  ...                  Low   271562732
2  5 Series  2022  ...                  Low   792175410
3        X3  2024  ...                  Low   246749637
4  7 Series  2020  ...                  Low   153685840

[5 rows x 12 columns]

In [16]:
categorical_features = df.select_dtypes(include="object")
numerical_features = df.select_dtypes(exclude="object")

### Data Visualization